* {
	margin: 0;
	padding: 0;
}

.form-group > .form-control {
	width: 25vw;
	max-width: 480px;
}

.container {
	margin-top: 15vh;
	max-width: 480px;
}

.col-sm-4 {
	min-width: 300px;
	max-width: 420px;
}

.dropdown-menu {
	padding: 10px;
}
