body {
    /*background: white url("images/background.png");*/
  min-height: 100vh;
  /*background: #84fdb8;*/
  /*background: -webkit-linear-gradient(#84fdb8, #292a97);*/
  /*background: linear-gradient(#84fdb8, #292a97);*/

    background: url("images/bgnewyork.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow-y: hidden;
}

.logo {
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 1136px;
    height:366px;
    background: url("images/logo.png");
}

section.splash{
  height: 100vh;
  color: white;
  background: url("images/splash_background.jpg");
  background-size:cover;
}

section .header-content{
    padding-left: 75px;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.3);;
}

section .header-content .header-content-inner h1 {
    font-size: 350%;
}

section .header-content .header-content-inner h3 {
    font-size: 150%;
}

section .header-content .header-content-inner .text-center {
    margin-left: -200px;
}

section .header-content .header-content-inner a {
  /*text-align:center;*/
  /*display:block;*/
  vertical-align: middle;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
  padding: 15px 45px;
  font-size: 11px;
  color: white;
  border-color: white;
  border: 1px solid;
}

section .header-content .header-content-inner a:hover,
section .header-content .header-content-inner a:focus,
section .header-content .header-content-inner a:active,
section .header-content .header-content-inner a.active {
  color: white;
  background-color: rgba(100, 100, 100, 0.4);
  border-color: rgb(50, 50, 50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
