{% load bootstrap3 %}

{% bootstrap_css %}


<div class="container">
	<form action="/users/signup" method="post">
	{% csrf_token %}

		{% bootstrap_form form %}
	    {% buttons %}
	        <button type="submit" class="btn btn-primary">Signup</button>
	    {% endbuttons %}
	</form>
</div>


<!--{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}-->