{% extends 'events/base.html' %}
{% block event_list_active %}active{% endblock %}

{% load bootstrap3 %}

{% bootstrap_css %}

{% block body %}
	<div class="container">
		<form action="{% url 'user_signup_view' %}" method="post">
		{% csrf_token %}

			{% for field in form %}
    			<div class="fieldWrapper">
        			{% bootstrap_form_errors form %}
        			{% bootstrap_field field show_label=False show_help=False %}
    			</div>
			{% endfor %}
	
			Already a member? <a href="{% url 'user_login_view' %}">Login.</a><br>
		    {% buttons %}
		        <button type="submit" class="btn btn-primary">Signup</button>
		    {% endbuttons %}
		</form>
	</div>
{% endblock %}