{% extends 'events/base.html' %}
{% block event_list_active %}active{% endblock %}

{% load bootstrap3 %}

{% bootstrap_css %}

{% block body %}
    <section id="splash" class="splash">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Organise your community for FREE! </h1>
                            <h2>Community Organisation, a website to organise community events.</h1>
                            <div class="text-center">
                                <a href="{% url 'user_view' %}"  class="splashbtn">Start Now for Free!</a>
                            </div>

                            <h3>Plan. Organise. Do. </h3>
                        </div>
                    </div>
                </div>
            </div>
{##}
{#            <div class="row">#}
{#                <div class="col-md-6 col-md-offset-3">#}
{#                    <h2>#}
{#                        This is a website for the community to organize events.#}
{#                    </h2>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{#                <div class="col-md-6 col-md-offset-3">#}
{#                    <img src="../../static/images/community-img.jpg" alt="Community" style="width:500px;height:500px;">#}
{##}
{#                </div>#}
{#            </div>#}
            {#		<form action="{% url 'user_login_view' %}" method="post">#}
            {#		{% csrf_token %}#}
            {##}
            {#			{% bootstrap_form_errors form %}#}
            {#			{% for field in form %}#}
            {#    			<div class="fieldWrapper">#}
            {#        			{% bootstrap_field field show_label=False show_help=False %}#}
            {#    			</div>#}
            {#			{% endfor %}#}
            {#	#}
            {#			Not a member? <a href="{% url 'user_signup_view' %}">Register.</a><br>#}
            {#		    {% buttons %}#}
            {#		        <button type="submit" class="btn btn-primary">Login</button>#}
            {#		    {% endbuttons %}#}
            {#		</form>#}
        </div>
    </section>

{% endblock %}