{% extends 'events/base.html' %}
{% block event_list_active %}active{% endblock %}

{% load bootstrap3 %}

{% bootstrap_css %}

{% block body %}
	<div class="container-fluid">
		<h1 class="page-header">Attending</h1>
		{% with data_list=attending_data %}
	    {% include "events/_event_data.html" %}
		{% endwith %}
	</div>
	<div class="container-fluid">
		<h1 class="page-header">Volunteering</h1>
		{% with data_list=volunteering_data %}
	    {% include "events/_event_data.html" %}
		{% endwith %}
	</div>
{% endblock %}