{% if data_list %}
    {% for event, donation, user_donations in data_list %}
        <div class="col-sm-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h2 class="form-signin-heading"><a href="{% url 'event_view' event.id %}">{{ event.event_name }}</a></h2>

                    <!-- View Details -->
                    <ul class="list-group">
                        <li class="list-group-item"><b>{{ event.event_location }}</b></li>
                        <li class="list-group-item"><b>Start:</b> {{ event.start_date }}</li>
                        <li class="list-group-item"><b>End:</b> {{ event.end_date }}</li>
                        <li class="list-group-item"><b>Total donations:</b> ${{ donation }}</li>
                        {% if user.is_authenticated %}
                            <li class="list-group-item"><b>my donations:</b> ${{ user_donations }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No Events.</p>
{% endif %}