{# Load the tag library #}
{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Community Organization{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'custom_style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}

    <!--<script type="text/javascript">
        $( document ).ready(function() {
            //generate a post request on link click
            $("#view_all").submit(function(e) {
                // avoid to execute the actual submit of the form.
                e.preventDefault();

                $.ajax({
                    type:"POST", 
                    url: "{% url 'event_mark_all_view' %}", 
                    data: {
                        "view_all":true,
                    }, 
                    success: function(response) {
                      //alert("hi");
                    }
                });
            });
        });
    </script>-->

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'event_list_view' %}">Community Organization</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block user_active %}{% endblock %}"><a href="{% url 'user_view' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Users</a></li>
                <li class="{% block event_list %}{% endblock %}"><a href="{% url 'event_list_view' %}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp; Events</a></li>
            </ul>

            <!-- Search Bar Function -->
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'event_list_view' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Events
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">
                            Welcome, {{ user.username }}
                        </a>
                    </li>

                    <!-- Notify Dropdown -->
                    <li>

                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                            <sup>{% notifications_unread %}</sup>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Recent</li>
                            {% if notify_list %}
                                {% for notify in notify_list %}
                                    {# description var is used to inject custom html #}
                                    {% if notify.description %}
                                        <li><a href="{{ notify.verb }}">
                                            {{ notify.description }}
                                        </a></li>
                                    {% else %}
                                        <li><a href="#">
                                            {{ notify.actor }}
                                            {{ notify.verb }}
                                            {{ notify.target }}
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li><a href="#">No notifications</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li class="dropdown-header">More</li>
                            <li><a href="{% url 'notifications:all' %}">View all</a></li>
                            <li>
                                <form action="{% url 'event_mark_all_view' %}" method="post" id="view_all">
                                    {% csrf_token %}
                                    <button class="btn btn-default" type="submit">Mark All as Read</button>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{% url 'user_logout_view' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                {% else %}
                <li class="{% block user_login_active %}{% endblock %}">
                    <a href="{% url 'user_login_view' %}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; User Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>