{% extends 'events/base.html' %}
{% block event_list_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li class="list-group-item"><h2 class="form-signin-heading">{{ event.event_name }}</h2></li>
                    <li class="list-group-item">
                        <div class="btn-group" id="btn_forms">
                            <!-- Attending -->
                            {# allow the user to cancel attending #}
                            {% if not is_attending %}
                            <a href="#attend_dropdown" data-toggle="collapse" class="btn btn-default">Attend</a>
                            {% else %}
                            <a href="{% url 'event_attend_view' event.id 2 %}" class="btn btn-default">Cancel Attending</a>
                            {% endif %}
                            <!-- Volunteer -->
                            {# allow the user to cancel volunteering #}
                            {% if not is_volunteering %}
                            <a href="{% url 'event_volunteer_view' event.id 1 %}" class="btn btn-default ">Volunteer</a>
                            {% else %}
                            <a href="{% url 'event_volunteer_view' event.id 2 %}" class="btn btn-default ">Cancel Volunteer</a>
                            {% endif %}
                            <!-- Donate -->
                            <a href="#donate_dropdown" data-toggle="collapse" class="btn btn-default">
                                Donate
                            </a>
                            <!-- Volunteer List -->
                            <a href="{% url 'event_volunteer_list_view' event.id %}" class="btn btn-default">
                                Volunteer list
                            </a>
                            <!-- Attending List -->
                            <a href="{% url 'event_attendee_list_view' event.id %}" class="btn btn-default">
                                Attendee list
                            </a>
                            {% if user.is_superuser %}
                            <!-- Call for donations -->
                            <a href="{% url 'event_notify_donations_view' event.id %}" class="btn btn-default">
                                Call for donations
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- forms -->
                    <div id="forms">
                        <!-- Attend dropdown -->
                        <div id="attend_dropdown" class="panel-collapse collapse">
                            <li class="list-group-item active">
                                <!-- Family Members Attending -->
                                <form action="{% url 'event_attend_view' event.id 1 %}" method="post" class="form">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="number" name="amount" class="form-control"
                                               placeholder="Family members attending"><br>
                                        <span class="input-group-btn">
                                            <button type="submit" name="submit" class="btn btn-default">Confirm</button>
                                        </span>
                                    </div>
                                </form>
                            </li>
                        </div>
                        <!-- Donate dropdown -->
                        <div id="donate_dropdown" class="panel-collapse collapse">
                            <li class="list-group-item active">
                                <!-- Donation Amount -->
                                <form action="{% url 'event_donate_view' event.id %}" method="post" class="form">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="number" step="0.01" name="amount" class="form-control"
                                               placeholder="Donation amount"><br>
                                        <span class="input-group-btn">
                                            <button type="submit" name="submit" class="btn btn-default">Confirm</button>
                                        </span>
                                    </div>
                                </form>
                            </li>
                        </div>
                    </div>
                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;
                                {{ event.event_location }}
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                                {{ event.start_date|date:"D d M" }} at {{ event.start_date|time:"h:i A" }} to

                                {# display end date only if it differs from start date #}
                                {% if event.end_date|date:"D d M" != event.start_date|date:"D d M" %}
                                    {{ event.end_date|date:"D d M" }} at 
                                {% endif %}

                                {{ event.end_date|time:"h:i A" }}
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp;
                                {{ donation }} donated out of {{ event.event_cost }} event cost
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
                                {% if event.honor_event and user_donations >= 3000 %}
                                    no charge, you are an honored guest
                                {% else %}
                                    {% if ticket == "0.00" %}
                                        no charge for tickets 
                                    {% else %}
                                        {{ ticket }} estimated cost per ticket
                                    {% endif %}
                                {% endif %}
                            </li>
                            {% if user.is_superuser %}
							<li class="list-group-item">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                                {% if expected_attendance == 0 %}
                                    no registered interest 
                                {% elif registered_attendance < expected_attendance %}
                                    {{ registered_attendance }} registered of {{ expected_attendance }} expected
								{% else %}
									{{ registered_attendance }} registered
                                {% endif %}
                            </li>
                            <li class="list-group-item">
                                <!-- Edit Event -->
                                <a href="{{ admin_url }}" class="btn btn-danger">
                                    Edit
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}