<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>
		Events test
	</h1>
	<ul>
		<li>{{ event.event_name }}</li>
        		<ul>
        			<li>{{ event.event_location }}</li>
        			<li>start: {{ event.start_date }}</li>
        			<li>end: {{ event.end_date }}</li>
        		</ul>
	</ul>
	<form action="{% url 'joinEvent' event.id %}" method="post">
		{% csrf_token %}
		Number of family members attending: <input type="number" name="amount"><br>
		<input type="submit" name="submit">
	</form>
	<form action="{% url 'donateEvent' event.id %}" method="post">
		{% csrf_token %}
		Donation amount: <input type="number" step="0.01" name="amount"><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>