{% extends 'events/base.html' %}
{% block event_list_active %}active{% endblock %}

{% load bootstrap3 %}

{% bootstrap_css %}

{% block body %}
	<div class="container">
		<form action="{% url 'event_create_view' %}" method="post">
		{% csrf_token %}

			{% bootstrap_form_errors form %}
			{% for field in form %}
    			<div class="fieldWrapper">
        			{% bootstrap_field field show_label=False show_help=False %}
    			</div>
			{% endfor %}
		        <button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
{% endblock %}