{% extends 'events/base.html' %}
{% block event_list_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include "events/_event_data.html" %}
        </div>
    </div>
    <div class="container-fluid">
    </div>
{% endblock %}


{#{% load bootstrap3 %}#}
{##}
{#{% bootstrap_css %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title>Event List</title>#}
{##}
{#</head>#}
{#<body>#}
{#<div class="panel side-panel-1 category">#}
{#<h4 class="title1">Pages</h4>#}
{#<ul class="clear-list">#}
{#    <li style="list-style-type: none;"><a href="{% url 'user_view' %}">users</a></li>#}
{#	<li style="list-style-type: none;"><a href="{% url 'user_login_view' %}">user login</a></li>#}
{#	<li style="list-style-type: none;"><a href="{% url 'event_list_view' %}">events</a></li>#}
{#</ul>#}
{#</div>#}
{#<div class="container">#}
{#	{% include "events/_event_data.html" %}</div>#}
{#<div class="container"></div>#}
{#</body>#}
{#</html>#}